@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&display=swap');
body{
    font-family: 'Barlow', sans-serif;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu-logo-jussi {
    display: flex;
    margin: 0.9375rem 0 0.9375rem 1.5rem;
}

.menu-logo-jussi img {
    height: 2.5rem;
}

.menu-logo-jussi p:nth-child(2) {
    margin:0.8125rem 2rem;
    line-height: 1.5rem;
}

.menu-logo-jussi p:nth-child(3) {
    margin: 0.8125rem 0rem;
    line-height: 1.5rem;
}

.search-login-cart{
    display: flex;
}

.search-login-cart .search-bar {
    width: 1.5rem;
    height: 1.5rem;
}

.search-login-cart .shopping-cart {
    width: 1rem;
    height: 1rem;
}

.search-login-cart .first-part {
    display: flex;
    border: solid 1px;
    border-radius: 1.5rem;
    border-color: grey;
    width: 15rem;
    height: 2.5rem;
    margin: 1.25rem 2rem 1.25rem 0;
}

.search-login-cart .first-part p {
    margin: 0.5rem 8.625rem 0.5rem 1rem;
    width: 3,0625rem;
    line-height: 1.5rem;
    color: #EE0E7D;
}

.search-login-cart .first-part img {
    margin: 0.5rem 1.3125rem 0.8125rem 0;
}

.search-login-cart .second-part{
    display: flex;
}

.search-login-cart .second-part p {
    margin: 1.75rem 2.0625rem 1.75rem 0;
    line-height: 1.5rem;
}

.search-login-cart .second-part img {
    margin: 1.8125rem 1.5625rem 1.875rem 0;
    height: 1.25rem;
    width: 1.375rem;
}

.background {
    background-color: #03FFA5;
    width: auto;
    height: 35rem;
    position: relative;
}

.background .background-text p:nth-child(1) {
    font-size: 4rem;
    line-height: 4.8rem;
    text-transform: uppercase;
    width: 28.1875rem;
    padding: 5rem 0 1rem 10.375rem;
}

.background .background-text p:nth-child(2) {
    width: 20.5625rem;
    line-height: 1.5rem;
    padding: 0 0 2rem 10.375rem;
}

.background .background-text a {
    border:solid 1px;
    border-radius: 0.375rem;
    padding: 0.75rem 1.25rem;
    color: #000000;
    margin: 0 0 5.0625rem 10.375rem;
}

.background .background-images #imagem1 {
    position: absolute;
    background: white;
    width: 13.0625rem;
    height: 16.9375rem;
    top: 2.5rem;
    left: 53.655625rem;
    border-radius: 8px;
    z-index: 2;

}

.background .background-images #imagem1 img {
    padding: 2.4375rem 2.21rem 2.125rem 2.8125rem;
}

.background .background-images #imagem1 a {
    border: solid 1px;
    border-radius: 24px;
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    color: #EE0E7D;
    width: 10rem;
    height: 4rem;
    margin-left: 1.5rem;
}

.background .background-images #imagem2 {
    position: absolute;
    background: white;
    width: 13.0625rem;
    height: 16.9375rem;
    top: 12.276875rem;
    left: 45.5625rem;
    border-radius: 8px;
    z-index: 1;
}

.background .background-images #imagem2 img {
    padding: 0.8125rem 0.8125rem 0.25rem 0.8125rem;
    margin-bottom: 1rem;
}

.background .background-images #imagem2 a {
    border: solid 1px;
    border-radius: 24px;
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    color: #EE0E7D;
    width: 9rem;
    height: 4rem;
    margin-left: 2rem;
}

.background .background-images #imagem3 {
    position: absolute;
    background: white;
    width: 13.0625rem;
    height: 16.9375rem;
    top: 15.5625rem;
    left: 61.30625rem;
    border-radius: 8px;
    z-index: 1;
}

.background .background-images #imagem3 img {
    padding: 1.065625rem 1.255625rem 1.559375rem 1.121875rem;
}

.background .background-images #imagem3 a {
    border: solid 1px;
    border-radius: 24px;
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    color: #EE0E7D;
    width:11rem;
    height: 4rem;
    margin-left: 1.0625rem;
}

.background-stores {
    background: #F2F2F2;
    height: 5rem;
    width: 100%;
}

.background-stores .background-sponsors {
    display: flex;
}

.background-stores .background-sponsors p {
    width: 12.5625rem;
    height: 1.5rem;
    line-height: 1.5rem;
    padding: 1.75rem 0 0 13.3125rem;
}

.background-stores .background-sponsors img:nth-child(2) {
    width: 1rem;
    height: 1.5rem;
    size: 1px;
    line-height: 1.5rem;
    padding: 1.75rem 0 0 4rem;
}

.background-stores .background-sponsors img:nth-child(3) {
    width: 10rem;
    height: 1.625rem;
    padding: 1.7rem 0 0 4rem;
}

.background-stores .background-sponsors img:nth-child(4) {
    width: 11.25rem;
    height: 1.35rem;
    padding: 1.825rem 0 0 4rem;
}

.background-stores .background-sponsors img:nth-child(5) {
    width: 5.5rem;
    height: 2.375rem;
    padding: 1.3125rem 0 0 4rem;
}

.background-stores .background-sponsors img:nth-child(6) {
    width: 8.08625rem;
    height: 2.375rem;
    padding: 1.3125rem 0 0 4rem;
}